code {
  font-size: 80%;
  background: $ui-01;
  border: 1px solid $ui-03;
  color: $text-02;
  padding: 2px 4px;
  border-radius: $radius-size-01;
  word-break: break-word;
}

pre {
  background: $ui-01;
  color: $text-02;
  margin: 0.5em 0;
  padding: 1em 1.8em;
  border: none;
  border-radius: $radius-size-02;
  max-width: 100%;
  page-break-inside: avoid;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  overflow-x: auto;

  code {
    background: transparent;
    border: none;
    font-size: 100%;
  }

  @include properties($body-02);
}

kbd {
  background: $ui-05;
  color: $text-03;
  padding: 1px 4px;
  border-radius: $radius-size-01;

  @include properties($body-02);
}

@include media-breakpoint-down(sm) {
  pre {
    font-size: 0.85rem;
  }
}
