.content {
  order: 1;
  padding: 0 30px;

  > h1:first-of-type {
    margin: 0 -30px;
    margin-bottom: 30px;
    padding: 30px;
    font-weight: 600;
  }
}

.table ul {
  list-style: circle;
  padding-left: 0;
}
