.example{
  margin-top: 1rem;
  position: relative;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
}
#grid .example{
  .row > .col,
  .row > [class^="col-"]{
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #eee;
    border: 1px solid #ccc;
  }
}
pre{
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}
