
.sidebar {
  padding: 0;

  @include media-breakpoint-down(sm) {
    background: $overlay-01;
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 1000;
  }

  .navbar-menu {
    background: $ui-background;
    height: 100vh;
    padding-top: 0.25rem;
    padding-bottom: 3.5rem;
    overflow-y: auto;
    position: sticky;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    z-index: 8;

    @include media-breakpoint-down(sm) {
      width: 15rem;
      height: 100%;
      padding-top: 3.45rem;
    }

    .navbar-nav {
      margin-bottom: 0.5rem;

      .nav-title {
        margin: 0.55rem 0.8rem;
        color: $text-03;
        display: block;

        @include properties($body-02);
      }

      .nav-item {
        .nav-link {
          margin: 0.25rem 0;
          border-radius: 0;

          @include properties($heading-06);
        }

        .folding .folding-title,
        .folding .folding-content {
          padding: 0.55rem 0.8rem;
        }

        .folding .folding-title {
          &:hover {
            background: $ui-01;
            color: $text-01;
          }
        }

        .folding .folding-content {
          padding: 0;
        }

        &.active > .nav-link,
        &.active > .folding:not([open]) .nav-link.folding-title {
          border-color: $interactive-01;
          background: $ui-01;
          font-weight: 600;
          color: $text-01;
        }

        .folding[open] .folding-title {
          color: $text-01;
          background: $ui-02;

          &:hover {
            background: $ui-01;
          }
        }
      }

      .navbar-nav .nav-item {
        .nav-link {
          border-radius: 3px;
          margin: 0.15rem 0.5rem 0.15rem 1.65rem;

          @include properties($body-02-strong);
        }

        &.active .nav-link {
          font-weight: 600;
        }
      }

      &.navbar-nav-bottom {
        margin-top: auto;
      }
    }
  }

  .sidebar-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    height: 100%;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}

.menu-toggle {
  display: none;

  &:checked + .sidebar {
    display: block;
  }
}

.menu-toggle-button {
  color: $text-03;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 10;
  top: 0.6rem;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  &.close {
    background: #fff;
    color: $text-03;
    width: 15rem;
    padding: 0.9rem 0.8rem 0.3rem;
    top: 0;
    z-index: 10;
    cursor: pointer;
  }

  &:hover {
    color: $text-01;
  }
}
