.alert {
  width: 18rem;
  max-width: 100%;
  background: $ui-02;
  margin: 5px 0;
  padding: 0.75rem;
  border-radius: $radius-size-01;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  position: relative;
  vertical-align: bottom;

  @include properties($regular-shadow);
  @include properties($body-02);

  .alert-item {
    margin-right: 10px;
    align-self: flex-start;
    float: left;
  }

  .alert-close {
    position: absolute;
    top: 12px;
    right: 10px;
  }

  .alert-content {
    overflow: hidden;

    .alert-title {
      font-weight: 600;
    }

    .alert-description {
      font-size: 90%;
      color: $text-02;
    }
  }

  &.alert-success {
    color: $support-02;
    background: $support-02-lightest;
  }

  &.alert-info {
    color: $interactive-01;
    background: $interactive-01-lightest;
  }

  &.alert-warning {
    color: $support-03;
    background: $support-03-lightest;
  }

  &.alert-error {
    color: $support-01;
    background: $support-01-lightest;
  }

  &.alert-success,
  &.alert-info,
  &.alert-warning,
  &.alert-error {
    .alert-description {
      color: currentColor;
    }
  }
}

details.alert:not([open]) {
  display: none;
}
