.alert {
  width: 18rem;
  max-width: 100%;
  background: $ui-01;
  margin: 10px 5px;
  padding: 8px 15px;
  border-left: 5px solid $interactive-01;
  border-radius: 3px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  position: relative;

  @include properties($body-02);

  > .icon {
    margin-right: 15px;
    align-self: flex-start;
    float: left;
  }

  .alert-close {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .alert-content {
    display: inline-block;

    .alert-title {
      font-weight: 600;
    }

    .alert-description {
      color: $text-02;
      font-size: 90%;
    }
  }

  &.alert-success {
    border-left-color: $support-02;
  }

  &.alert-warning {
    border-left-color: $support-03;
  }

  &.alert-error {
    border-left-color: $support-01;
  }
}

details.alert:not([open]) {
  display: none;
}
