.alert {
  width: 18rem;
  max-width: 100%;
  background: $ui-02;
  margin: 5px 0;
  padding: 12px;
  border-left: 5px solid $interactive-01;
  border-radius: $radius-size-01;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  position: relative;
  vertical-align: bottom;

  @include properties($regular-shadow);
  @include properties($body-02);

  .alert-info {
    margin-right: 10px;
    align-self: flex-start;
    float: left;
  }

  .alert-close {
    position: absolute;
    top: 12px;
    right: 10px;
  }

  .alert-content {
    overflow: hidden;

    .alert-title {
      font-weight: 600;
    }

    .alert-description {
      color: $text-02;
      font-size: 90%;
    }
  }

  &.alert-success {
    border-left-color: $support-02;
  }

  &.alert-warning {
    border-left-color: $support-03;
  }

  &.alert-error {
    border-left-color: $support-01;
  }
}

details.alert:not([open]) {
  display: none;
}
