<header class="nav-header">
  <a class="brand" href="/"><span class="brand-prefix">hyphev</span> below</a>
  <nav class="navbar-menu">
    <form class="form">
      <input type="text" placeholder="Search...">
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/getting-started">
          Documentation
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/hyphev/below">
          <svg class="icon"><use xlink:href="/assets/icons/feather.svg#github"/></svg> GitHub
        </a>
      </li>
    </ul>
  </nav>
</header>
