<header class="header">
  <a class="brand logo" href="/">below</a>
  <nav class="navbar">
    <ul class="menu-responsive">
      <li>
        <form class="form">
          <input type="text" placeholder="Search...">
        </form>
      </li>
      <li><a href="https://github.com/hyphev/below">About</a></li>
      <li><a href="https://github.com/hyphev/below">hyphev</a></li>
    </ul>
    <ul class="menu-responsive">
      <li>
        <a href="https://github.com/hyphev/below">
          <svg class="icon">
            <use xlink:href="/assets/icons/feather.svg#github"/>
          </svg> GitHub
        </a>
      </li>
    </ul>
  </nav>
</header>