<label for="sidebar-docs" class="menu-toggle-button">
  <svg class="icon icon-big">
    <use xlink:href="/assets/icons/feather.svg#menu"/>
  </svg>
</label>
<input type="checkbox" id="sidebar-docs" role="button" class="menu-toggle">
<aside class="col-12 col-md-3 col-xl-2 sidebar">
  <label class="sidebar-overlay" for="sidebar-docs"></label>
  <label for="sidebar-docs" class="menu-toggle-button close">
    <svg class="icon icon-big">
      <use xlink:href="/assets/icons/feather.svg#arrow-left"/>
    </svg>
  </label>
  <nav class="navbar-menu">
    <ul class="navbar-nav folding-menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="nav-item{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">
            <details class="folding folding-borderless" {{ if $currentPage.HasMenuCurrent "main" . }}open{{ end }}>
              <summary>
                <div class="nav-link folding-title">
                  {{ .Name }} <svg class="icon icon-right icon-rotate"><use xlink:href="/assets/icons/feather.svg#chevron-down"/></svg>
                </div>
              </summary>
              <div class="folding-content">
                <ul class="navbar-nav">
                  {{ range .Children }}
                    <li class="nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              </div>
            </details>
          </li>
        {{ else }}
          <li class="nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
</aside>
