<div class="col-12 col-md-3 col-xl-2 sidebar">
  <ul class="menu-list list clean">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <details class="folding folding-borderless" {{ if $currentPage.HasMenuCurrent "main" . }}open{{ end }}>
            <summary>
              <div class="folding-title">
                {{ .Name }} <svg class="icon"><use xlink:href="/assets/icons/feather.svg#chevron-down"/></svg>
              </div>
            </summary>
            <div class="folding-content">
              <ul>
                {{ range .Children }}
                  <li {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            </div>
          </details>
        </li>
      {{ else }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</div>
