### Headings
<table>
  <thead>
    <th>Token</th>
    <th>Role</th>
    <th>Value</th>
  </thead>
  <tbody>
    {{ range $token := .Site.Data "type-tokens.headings" }}
      {{ $info := $token 1 }}
      <tr>
        <td><code>{{ $token 0 }}</code></td>
        <td><font style="font-size: {{$info.size}}; font-weight: {{$info.weight}}; ">{{ $info.description }}</font></td>
        <td>
          <ul>
            <li>Type: {{ $info.type }}</li>
            <li>Size: {{ $info.size }}</li>
            <li>Weight: {{ $info.weight }}</li>
            <li>Letter spacing: {{ $info.letterspacing }}</li>
            <li>Line height: {{ $info.lineheight }}</li>
          </ul>
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>

### Body
<table>
  <thead>
    <th>Token</th>
    <th>Role</th>
    <th>Value</th>
  </thead>
  <tbody>
    {{ range $token := .Site.Data "type-tokens.body" }}
      {{ $info := $token 1 }}
      <tr>
        <td><code>{{ $token 0 }}</code></td>
        <td><font style="font-size: {{$info.size}}; font-weight: {{$info.weight}}; ">{{ $info.description }}</font></td>
        <td>
          <ul>
            <li>Type: {{ $info.type }}</li>
            <li>Size: {{ $info.size }}</li>
            <li>Weight: {{ $info.weight }}</li>
            <li>Letter spacing: {{ $info.letterspacing }}</li>
            <li>Line height: {{ $info.lineheight }}</li>
          </ul>
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>