.pagination {
  background: $ui-02;
  margin: 0.5rem 0;
  border-radius: $radius-size-02;
  display: flex;
  display: -ms-flexbox;
  align-items: center;

  @include properties($body-02);

  &.pagination-center {
    justify-content: center;
  }

  &.pagination-right {
    justify-content: flex-end;
  }

  .pagination-item {
    background: $ui-01;
    color: $text-03;
    margin: 0 2px;
    padding: 0.4rem 0.75rem;
    border-radius: $radius-size-02;
    cursor: pointer;

    &:hover {
      color: $text-02;
    }

    &.active {
      background: $ui-03;
      font-weight: 600;
      color: $text-01;
    }
  }
}
