.tag {
  padding: 0.25em 0.5em;
  border-radius: $radius-size-01;
  background: $interactive-01-lightest;
  color: $interactive-01;
  display: inline-block;
  margin: 2px;
  border: 1px solid transparent;
  vertical-align: middle;

  @include properties($body-small);

  &.tag-secondary {
    background: $ui-01;
    color: $text-03;
  }

  &.tag-outline {
    background: transparent;
    color: $interactive-01;
    border-color: $interactive-01-lightest;
  }

  &.tag-success {
    background: $support-02-lightest;
    color: $support-02;
  }

  &.tag-warning {
    background: $support-03-lightest;
    color: $support-03;
  }

  &.tag-error {
    background: $support-01-lightest;
    color: $support-01;
  }

  &.tag-absolute {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .icon {
    margin-left: 5px;
  }
}
