.tag {
  padding: 0.15rem 0.3rem;
  border-radius: $radius-size-01;
  background: $interactive-01;
  color: #fff;
  display: inline-block;
  margin: 2px;
  border: 1px solid transparent;
  vertical-align: middle;

  @include properties($heading-06);

  &.tag-secondary {
    background: $ui-03;
    color: $text-03;
  }

  &.tag-outline {
    background: transparent;
    border-color: $interactive-01;
    color: $interactive-01;
  }

  &.tag-tertiary {
    background: $ui-04;
  }

  &.tag-success {
    background: $support-02;
  }

  &.tag-warning {
    background: $support-03;
  }

  &.tag-error {
    background: $support-01;
  }

  &.tag-small {
    padding: 0.1rem 0.25rem;
    font-size: 0.6rem;
  }

  &.tag-big {
    padding: 0.2rem 0.35rem;
    font-size: 1rem;
  }

  &.tag-absolute {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .icon {
    margin-left: 5px;
  }
}
