.btn{
  background: transparent;
  color: $black-two;
  border: 2px solid lighten($primary-color, 20%);
  display: inline-block;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  line-height: 1.5;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  &:hover{
    background: lighten($primary-color, 10%);
    color:  $light-gray;
  }

  &:focus{
    outline: 0;
  }

  &.btn-round{
    border-radius: 15px;
  }

  &.btn-super-round{
    border-radius: 45px;
  }

  &.btn-disabled{
    cursor: not-allowed;
    opacity: 0.5;

    &:hover{
      background: inherit;
    }
  }

  &.btn-medium{
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
  }

  &.btn-big{
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
  }

  &.btn-green{
    border-color: $green;
    color: $green;

    &:hover{
      background:$green;
    }
  }

  &.btn-blue{
    border-color: $blue;
    color: $blue;

    &:hover{
      background: $blue;
    }
  }

  &.btn-red{
    border-color: $red;
    color: $red;

    &:hover{
      background: $red;
    }
  }

  &.btn-black{
    border-color: $black;
    color: $black;

    &:hover{
      background: $black;
    }
  }

  &.btn-black,
  &.btn-blue,
  &.btn-green,
  &.btn-red{
    &:hover{
      color: #fff;
    }
  }

  &.btn-simple{
    padding: 1rem;
    border:none;
    border-bottom: 1px solid transparent;

    &:hover{
      border-bottom: 1px solid rgba(0,0,0,0.3);
      background: transparent;
      color: inherit;
    }
  }

  &.btn-fill{
    background: #eee;

    &:hover{
      background:#ddd;
      border-color:#ddd;
      color: $black;
    }

    &.btn-green{
      border-color: $green;
      background: $green;

      &:hover{
        background:$green-hover;
        border-color:$green-hover;
      }
    }

    &.btn-blue{
      border-color: $blue;
      background: $blue;

      &:hover{
        background: $blue-hover;
        border-color:$blue-hover;
      }
    }

    &.btn-red{
      border-color: $red;
      background:$red;

      &:hover{
        background: $red-two;
        border-color: $red-two;
      }
    }

    &.btn-black{
      border-color: $black;
      background: $black;

      &:hover{
        background: $black-two;
        border-color: $black-two;
      }
    }

    &.btn-black,
    &.btn-blue,
    &.btn-green,
    &.btn-red{
      color: #fff;
    }
  }
}
