.form{
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="url"],
	textarea,
	select {
		background-color: transparent;
		border: 0.1rem solid #d1d1d1;
		border-radius: .4rem;
		display: inline-block !important;
		vertical-align: middle;
		box-shadow: none;
		box-sizing: inherit;
		padding: .6rem 1.0rem;
		padding: .5em .6em;
	}
	fieldset {
    margin: 0;
    padding: .35em 0 .75em;
    border: 0;
	}
	legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
	}

}
