.btn{
  color: $black-two;
  text-decoration: none;
  border:2px solid $light-gray;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  text-align: center;
  padding: 0.55rem 1.8rem;
  margin: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  &:hover{background: $light-gray;}
  &:focus{outline:0;}
}
.btn.rounded{
  border-radius: 6px;
}
.btn.super-rounded{
  border-radius: 45px;
}
.btn.circle{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  line-height: 1;
  box-sizing: border-box;
  padding: 1.3em 0.4em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn.circle.medium{
  width: 6rem;
  height: 6rem;
}
.btn.circle.big{
  width: 7rem;
  height: 7rem;
}
.btn.medium{
  padding: 0.8rem 2.15rem;
}
.btn.big{
  padding: 1.15rem 2.5rem;
}
.btn.black,.btn.blue,.btn.green,.btn.red{
  &:hover{color: #fff;}
}
.btn.green{
  border-color: $green;
  color: $green;
  &:hover { background:$green; }
}
.btn.blue{
  border-color: $blue;
  color: $blue;
  &:hover { background: $blue; }
}
.btn.red{
  border-color: $red;
  color: $red;
  &:hover { background: $red; }
}
.btn.black{
  border-color: $black;
  color: $black;
  &:hover { background: $black; }
}
.btn.simple{
  padding: 4px;
  border:none;
  border-bottom: 1px solid transparent;
  &:hover{border-bottom:1px solid rgba(0,0,0,0.3);background: transparent;color: inherit;}
}
.btn.fill{
  background: #eee;
  &:hover{background:#ddd;border-color:#ddd;}
}
.btn.black.fill,.btn.blue.fill,.btn.green.fill,.btn.red.fill{
  color: #fff;
}
.btn.green.fill{
  border-color: $green;
  background: $green;
  &:hover { background:$green-hover; border-color:$green-hover; }
}
.btn.blue.fill{
  border-color: $blue;
  background: $blue;
  &:hover { background: $blue-hover; border-color:$blue-hover;}
}
.btn.red.fill{
  border-color: $red;
  background:$red;
  &:hover { background: $red-two;border-color: $red-two; }
}
.btn.black.fill{
  border-color: $black;
  background: $black;
  &:hover { background: $black-two;border-color: $black-two; }
}
