.card{
  width: 100%;
  background: #fff;
  border:1px solid #eee;
  border-radius: 6px;
  position: relative;
  padding: 0.8rem 2.5rem;
  p{
    color: #666;
  }
}
.card.black,.card.green,.card.blue,.card.dark-blue{
  &:before {
    content: "";
    width: 6px;
    height: 50%;
    position: absolute;
    border-radius: 0 3px 3px 0;
    top: 25%;
    left:0;
  }
}
.card.black{
  &:before{
    background: $black;
  }
}
.card.blue{
  &:before{
    background: $blue;
  }
}
.card.dark-blue{
  &:before{
    background: $dark-blue;
  }
}
.card.green{
  &:before{
    background: $green;
  }
}
