.card{
  width: 100%;
  background: #fff;
  border:1px solid #eee;
  border-radius: 6px;
  position: relative;
  margin: 10px 0;
  .card-body{
    padding: 0.8rem 2.5rem;
  }
  p{
    color: $black-three;
  }
  img{
    max-width: 100%;
    border-radius: 6px 6px 0 0;
  }
}
.card.black,.card.green,.card.blue,.card.red{
  &:before {
    content: "";
    width: 6px;
    height: 50%;
    position: absolute;
    border-radius: 0 3px 3px 0;
    top: 25%;
    left:0;
  }
}
.card.black{
  &:before{
    background: $black;
  }
}
.card.blue{
  &:before{
    background: $blue;
  }
}
.card.red{
  &:before{
    background: $red;
  }
}
.card.green{
  &:before{
    background: $green;
  }
}
