.menu{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    a{
        display: block;
        padding: 0.5rem 1rem;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        &.active{
            font-weight: 600;
        }
        &.disabled{
            cursor: not-allowed;
            opacity: 0.7;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    &.center{
        -ms-flex-pack: center;
        justify-content: center;
    }
    &.right{
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    &.vertical{
        flex-direction: column;
        -ms-flex-direction: column;
        &.tabs{
            a{
                border-bottom: none;
                border-left: 2px solid;
                &.disabled{
                    &:hover{
                        border-color: $blue;
                    }
                }
            }
        }
        &.stacked{
            a{
                border-bottom: none;
                border-right: 2px solid;
                &:first-child{
                    border-radius: 3px 3px 0 0;
                }
                &:last-of-type{
                    border-radius: 0 0 3px 3px;
                    border-bottom: 2px solid $blue;
                }
            }
        }
    }
    &.tabs{
        a{
            border-bottom: 2px solid #eee;
            &:hover{
                background: #f9f9f9;
                border-color: $blue;
            }
            &.active{
                background: $blue;
                color: #fff;
                border-color: $blue;
            }
            &.disabled{
                &:hover{
                    background: transparent;
                    border-color: #eee;
                }
            }
        }
    }
    &.stacked{
        a{
            border: 2px solid;
            border-right: none;
            &:hover{
                background: $blue;
                color: #fff;
                border-color: $blue;
            }
            &.active{
                background: $blue;
                color: #fff;
                border-color: $blue;
            }
            &.disabled{
                &:hover{
                    border-left: 2px solid $blue;
                    color: $blue;
                    background: transparent;
                }
            }
            &:first-child{
                border-radius: 3px 0 0 3px;
            }
            &:last-of-type{
                border-radius: 0 3px 3px 0;
                border-right: 2px solid $blue;
            }
        }
    }
}
