h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: normal;
    margin: 0.7rem 0;
}

h1, .h1{
    font-size: 2.8rem;
}

h2, .h2{
    font-size: 2.5rem;
}

h3, .h3{
    font-size: 2.2rem;
}

h4, .h4{
    font-size: 1.9rem;
}

h5, .h5{
    font-size: 1.6rem;
}

h6, .h6{
    font-size: 1.3rem;
}

.list{
    &.inline{
        padding-left: 0;
    }
    &.clean{
        padding-left: 0;
        list-style: none;
    }
    li{
        margin-right: 1em;
        display: inline-block;
    }
}

blockquote{
    border-left: 4px solid #ddd;
    padding: 15px 20px;
    color: $black-three;
    margin: 5px;
}
