<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{ partial "head" . }}
</head>
<body class="docs">
  {{ partial "navbar" . }}
  <div id="{{ .Title | lower }}" class="container-fluid">
    <div class="row">
      {{ partial "sidebar" . }}

      <div class="col-12 col-md-9 col-xl-10 content">
        <h1>{{ .Title }}</h1>
        <div class="row">
          <div class="col-12 col-md-12 col-xl-10 page-container">
            {{ .Content }}
          </div>
          {{ if (eq .Page.Params.toc true) }}
            <div class="col-12 col-xl-2 page-side">
              <div class="heading-06"><a href=""></a> Contents</div>
              <label for="sidecontents" class="heading-06"><svg class="icon"><use xlink:href="/assets/icons/feather.svg#align-left"/></svg></label>
              <input type="checkbox" id="sidecontents" role="button" class="content-toggle">
              <div class="toc">
                {{ .TableOfContents }}
              </div>
              <a href="" class="heading-06"><svg class="icon"><use xlink:href="/assets/icons/feather.svg#github"/></svg> <span>Edit on Github</span></a>
            </div>
          {{ end }}
        </div>
        {{ partial "footer" . }}
      </div>

    </div>
  </div>
</body>
</html>
