<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{ partial "head" . }}
</head>
<body class="docs">
  {{ partial "navbar" . }}
  <div id="{{ .Title | lower | replace ' ' '-' }}" class="container-fluid">
    <div class="row">
      {{ partial "sidebar" . }}
      {{ if (eq .Page.Params.toc true) }}
        <div class="col-xl-2 toc">
          {{ .TableOfContents }}
        </div>
      {{ end }}
      <div class="col-12 col-md-10 content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </div>
  </div>
  {{ partial "footer" . }}
</body>
</html>