<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{ partial "head" . }}
</head>
<body class="docs">
  {{ partial "navbar" . }}
  <div id="{{ .Title | lower }}" class="container-fluid">
    <div class="row">
      {{ partial "sidebar" . }}

      <div class="col-12 col-md-9 col-xl-10 content">
        <h1>{{ .Title }}</h1>
        <div class="row">
          <div class="col-12 col-md-12 col-xl-10">
            {{ .Content }}
          </div>
          {{ if (eq .Page.Params.toc true) }}
            <div class="col-12 col-xl-2 toc">
              {{ .TableOfContents }}
            </div>
          {{ end }}
        </div>
      </div>

    </div>
  </div>
  {{ partial "footer" . }}
</body>
</html>