<!doctype html>
<html lang="en">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="docs">
    <header class="nav-header only-header">
    <a class="brand" href="/"><span class="brand-prefix">hyphev</span> below</a>
    <nav class="navbar-menu">
      <form class="form">
        <input class="form-control" type="text" placeholder="Search...">
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/getting-started">
            Documentation
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/hyphev/below">
            <svg class="icon"><use xlink:href="/assets/icons/feather.svg#github"/></svg> GitHub
          </a>
        </li>
      </ul>
    </nav>
  </header>
    <div class="hero-container">
      <div id="{{ .Title | lower | replace ' ' '-' }}" class="container">
        <div class="row hero">
          <div class="col-md-5">
            <h3 class="logo logo-big">
              <b>hyphev</b> below <span class="badge badge-secondary">{{ .Site.Params.current_version }}</span>
            </h3>
            <h2>An open source<br><b>CSS Design System</b></h2>
            <p>Designed, developed and thought about the creation of graphical interfaces, created with a minimalist approach.</p>
            <div class="btn-group">
              <a class="btn btn-medium" href="/getting-started">Getting Started</a>
              <a class="btn btn-medium btn-secondary" href="https://github.com/hyphev/below" target="_blank">See on GitHub</a>
            </div>
          </div>
          <div class="col-md-7">
            <img src="assets/img/master-bg.svg">
          </div>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
