// Colors

$light-gray:#eee;
$black: #000;
$black-two:#222;
$black-three:#666;
$blue:#2980b9;
$blue-hover:#3498db;
$dark-blue:#2c3e50;
$green: #16a085;
$green-hover:#1abc9c;
$red:#e74c3c;
$red-two:#c0392b;
// Font weight
$light: 300;
$bold: 600;
