$radius-null: 0;
$radius-size-01: 0.25rem;
$radius-size-02: 0.5rem;
$radius-size-03: 3rem;
$radius-size-04: 50%;
$radius-size-05: 1rem;
$radius-size-05: 0.75rem;

$radius-size-05-bottom: 0 0 0.75rem 0.75rem;
$radius-size-05-top: 0.75rem 0.75rem 0 0;
