$headings-margin-bottom: 1rem;
$headings-font-weight: 400;
$headings-color: $text-01;

$heading-01: (
  font-size: 40px,
  letter-spacing: -0.022em,
  line-height: 56px,
);
$heading-02: (
  font-size: 30px,
  letter-spacing: 0.001em,
  line-height: 42px,
);
$heading-03: (
  font-size: 24px,
  letter-spacing: -0.019em,
  line-height: 34px,
);
$heading-04: (
  font-size: 20px,
  letter-spacing: -0.017em,
  line-height: 28px,
);
$heading-05: (
  font-size: 16px,
  font-weight: 600,
  letter-spacing: -0.011em,
  line-height: 22px,
);
$heading-06: (
  font-size: 14px,
  font-weight: 600,
  letter-spacing: -0.006em,
  line-height: 20px,
);
$body-01: (
  font-size: 16px,
  font-weight: 400,
  letter-spacing: -0.011em,
  line-height: 22px,
);
$body-02: (
  font-size: 14px,
  font-weight: 400,
  letter-spacing: -0.006em,
  line-height: 20px,
);

h1,
h2,
h3,
h4,
h5,
h6,
.heading-01,
.heading-02,
.heading-03,
.heading-04,
.heading-05,
.heading-06 {
  margin-bottom: $headings-margin-bottom;
  font-weight: $headings-font-weight;
  color: $headings-color;
}

h1,
.heading-01 { @include properties($heading-01); }

h2,
.heading-02 { @include properties($heading-02); }

h3,
.heading-03 { @include properties($heading-03); }

h4,
.heading-04 { @include properties($heading-04); }

h5,
.heading-05 { @include properties($heading-05); }

h6,
.heading-06 { @include properties($heading-06); }
