.icon {
  width: 17px;
  height: 17px;
  margin: 0 4px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  top: 2px;
  position: relative;

  &.icon-small {
    width: 13px;
    height: 13px;
    top: 3.5px;
  }

  &.icon-big {
    width: 20px;
    height: 20px;
    top: 0;
  }

  &.icon-left {
    margin-left: 0;
    margin-right: 12px;
  }

  &.icon-right {
    margin-left: auto;
    margin-right: 0;
  }
}
