.icon {
  width: 15px;
  height: 15px;
  margin: 0 4px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  top: 3px;
  position: relative;

  &.icon-small {
    width: 13px;
    height: 13px;
  }

  &.icon-big {
    width: 20px;
    height: 20px;
  }

  &.icon-left {
    margin-left: 0;
    margin-right: 10px;
  }

  &.icon-right {
    margin-left: auto;
    margin-right: 0;
  }
}
