.table{
  background: darken($body-background, 10%);
  border-collapse: collapse;


  th,td{
    padding: 1em 2.2em;
    text-align: center;
  }

  tr{
    border-bottom: 1px solid #eee;
    &:hover{
      background-color: lighten($primary-color, 30%);
    }
  }
  &.bordered{
    border-radius: 6px;
    border:1px solid #eee;
  }
  &.bordered-all{
    *{ border:1px solid #eee; }
  }
  &.striped{
    tbody{
      tr:nth-of-type(2n+1){
        background: #f9f9f9;
        &:hover{
          background-color: lighten($primary-color, 30%);
        }
      }
    }
  }
  &.borderless{
    *{
      border:none;
    }
  }
}
