.table {
  width: 100%;
  margin-bottom: 0.5rem;
  border-collapse: collapse;

  @include properties($body-02);

  th,
  td {
    padding: 1em 2em;
    text-align: inherit;
  }

  tr {
    border-bottom: 1px solid $ui-03;
  }

  tbody tr:last-of-type {
    border-bottom: none;
  }

  &.table-bordered {
    border: 1px solid $ui-03;
  }

  &.table-bordered-full * {
    border: 1px solid $ui-03;
  }

  &.table-borderless * {
    border: none;
  }

  &.table-striped tbody tr:nth-of-type(2n+1) {
    background: $ui-01;
  }

  &.table-hover tbody tr:hover {
    background: $ui-01;
  }

  &.table-small th,
  &.table-small td {
    padding: 0.5em 1em;
  }
}

@include media-breakpoint-down(sm) {
  .table {
    display: block;
    overflow-x: auto;
  }
}
