<div class="sidebar">
    <span class="pure-menu-heading"><a href="{{ site.url }}">Below</a></span>
    <ul class="menu-list list clean">
        <li class="menu-item"><a href="{{ site.url }}/getting-started/" class="menu-link">Getting Started</a></li>
        <li class="menu-item"><a href="{{ site.url }}/grid/" class="menu-link">Grid</a></li>
        <li class="menu-item"><a href="{{ site.url }}/typography/" class="menu-link">Typography</a></li>
        <li class="menu-item"><a href="{{ site.url }}/buttons/" class="menu-link">Buttons</a></li>
        <li class="menu-item"><a href="{{ site.url }}/forms/" class="menu-link">Forms</a></li>
        <li class="menu-item"><a href="{{ site.url }}/tables/" class="menu-link">Tables</a></li>
        <li class="menu-item"><a href="{{ site.url }}/menus/" class="menu-link">Menus</a></li>
        <li class="menu-item"><a href="{{ site.url }}/codes/" class="menu-link">Codes</a></li>
        <li class="menu-item"><a href="{{ site.url }}/cards/" class="menu-link">Cards</a></li>
        <li class="menu-item"><a href="{{ site.url }}/utilities/" class="menu-link">Utilities</a></li>
    </ul>
</div>
<div class="content">
