<div class="col-12 col-md-3 col-xl-2 sidebar">
  <span class="menu-heading"><a href="{{ site.url }}">Below</a></span>
  <ul class="menu-list list clean">
    {% assign pages_list = site.pages | sort:"priority" %}
    {% for node in pages_list %}
      {% unless node.nav_exclude %}
        {% if node.parent == nil %}

          <li class="{% if page.url == node.url or page.parent == node.title or page.grand_parent == node.title %}active{% endif %}">

            {% if page.parent == node.title or page.grand_parent == node.title %}
              {% assign first_level_url = node.url | absolute_url %}
            {% endif %}

            <a href="{{ node.url | absolute_url }}" class="{% if page.url == node.url %}active{% endif %}">{{ node.title }}</a>

            {% if node.has_child %}
              {% assign children_list = site.pages | sort:"priority" %}

              <ul class="navigation-list-child-list">

                {% for child in children_list %}
                  {% unless child.nav_exclude %}
                    {% if child.parent == node.title %}

                      <li class="{% if page.url == child.url or page.parent == child.title %}active{% endif %}">

                        {% if page.url == child.url or page.parent == child.title %}
                          {% assign second_level_url = child.url | absolute_url %}
                        {% endif %}

                        <a href="{{ child.url | absolute_url }}" class="{% if page.url == child.url or page.title == child.title %}active{% endif %}">{{ child.title }}</a>
                        {% if child.has_child %}
                          {% assign grand_children_list = site.html_pages | sort:"nav_order" %}
                          <ul class="navigation-list-child-list">
                            {% for grand_child in grand_children_list %}

                              {% unless child.nav_exclude %}

                                {% if grand_child.parent == child.title %}

                                  <li class="navigation-list-item {% if page.url == grand_child.url %} active{% endif %}">
                                    <a href="{{ grand_child.url | absolute_url }}" class="{% if page.url == grand_child.url %}active{% endif %}">{{ grand_child.title }}</a>
                                  </li>

                                {% endif %}

                              {% endunless %}

                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>

                    {% endif %}
                  {% endunless %}
                {% endfor %}

              </ul>

            {% endif %}

          </li>

        {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>
</div>
