.nav-tabs {
  background: $ui-02;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: $radius-size-02;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    padding: 0.5rem 0 0 0;
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    list-style: none;

    li {
      a {
        min-width: 8rem;
        color: $text-02;
        margin: 0 1px;
        padding: 0.5rem 0.8rem;
        display: block;
        border-bottom: 2px solid $ui-03;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;

        @include properties($heading-06);

        @include media-breakpoint-down(sm) {
          min-width: 4.5rem;
          margin: 0 0.5px;
          padding: 0.35rem 0.15rem;
        }
      }

      &.disabled a {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &.active a,
      &:not(.disabled) a:hover {
        color: $text-01;
        border-color: $interactive-04;
      }
    }
  }

  .tab-panel {
    width: 100%;
    background: $ui-02;
    color: $text-02;
    padding: 15px;
    display: none;
    order: 99;

    @include media-breakpoint-down(sm) {
      padding: 5px;
    }
  }

  .radio-tabs {
    position: absolute;
    opacity: 0;

    & + .tab-label {
      min-width: 8rem;
      color: $text-02;
      margin: 0 1px;
      padding: 0.5rem 0.8rem;
      border-bottom: 2px solid $ui-03;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;

      @include properties($heading-06);

      @include media-breakpoint-down(sm) {
        min-width: 4.5rem;
        margin: 0 0.5px;
        padding: 0.35rem 0.15rem;
      }
    }

    &:checked + .tab-label {
      color: $text-01;
      border-color: $interactive-04;

      & + .tab-panel {
        display: block;

        @include properties($body-02);
      }
    }

    &[disabled] + .tab-label {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:not([disabled]) + .tab-label:hover {
      color: $text-01;
      border-color: $interactive-04;
      cursor: pointer;
    }
  }
}
