.nav-tabs {
  background: $ui-02;
  padding: 0.5rem 1rem 0 0.5rem;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  ul {
    margin-bottom: 0;
    padding-left: 0;
    display: -ms-flexbox;
    display: flex;
    list-style: none;

    li {
      a {
        width: 8rem;
        color: $text-02;
        margin: 0 1px;
        padding: 0.5rem 0.8rem;
        display: block;
        border-bottom: 2px solid $ui-03;
        font-size: 14px;
        font-weight: 600;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }

      &.disabled a {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &.active a,
      &:not(.disabled) a:hover {
        border-color: $interactive-04;
      }
    }
  }

  .tab-panel {
    background: #fff;
    padding: 20px;
    display: none;
    order: 99;
  }

  .radio-tabs {
    position: absolute;
    opacity: 0;

    & + .tab-label {
      width: 8rem;
      color: $text-02;
      margin: 0 2px;
      padding: 0.5rem 0.8rem;
      border-bottom: 2px solid $ui-03;
      font-weight: 600;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

    &:checked + .tab-label {
      color: $text-01;
      border-color: $interactive-03;

      & + .tab-panel {
        display: block;
      }
    }

    &[disabled] + .tab-label {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:not([disabled]) + .tab-label:hover {
      color: $text-01;
      border-color: $interactive-03;
      cursor: pointer;
    }
  }
}
