.modal {
  background: $overlay-01;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 900;

  @include properties($body-02);

  .modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  .modal-container {
    width: 600px;
    max-width: 100%;
    background: $ui-02;
    border-radius: $radius-size-05;
    padding-top: 0.5em;
    position: relative;
    overflow-y: auto;

    @include properties($light-shadow);
  }

  .modal-title {
    margin: 0;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 1em 2em;
    position: relative;
  }

  .modal-body {
    color: $text-02;
  }

  .modal-footer {
    background: $ui-01;
    border-radius: $radius-size-05-bottom;
    text-align: right;
  }

  .modal-close {
    width: 25px;
    height: 25px;
    background: $ui-01;
    color: $text-02;
    border-radius: 50%;
    cursor: pointer;
    line-height: 25px;
    position: absolute;
    right: 15px;
    top: 12px;
    text-align: center;

    &:hover {
      color: $text-01;
      background: $ui-03;
    }
  }

  &.modal-small .modal-container {
    width: 400px;
  }

  &.modal-big .modal-container {
    width: 750px;
  }
}

.modal-status {
  display: none;

  &:checked + .modal {
    opacity: 1;
    visibility: visible;

    .modal-container {
      top: 0;
    }
  }
}
