.folding {
  border: 1px solid $ui-03;
  border-radius: 3px;
  margin: 0.1rem 0;

  @include properties($body-02);

  .folding-content {
    padding: 1.5rem 1rem;
  }

  .folding-title {
    background: $ui-02;
    color: $text-01;
    padding: 1rem;
    font-weight: 600;
    display: flex;
    display: -ms-flexbox;

    &:hover {
      background: $ui-01;
    }
  }

  &[open] {
    .folding-title {
      background: $ui-01;
      border-radius: 3px 3px 0 0;
      font-weight: 600;
    }

    .icon.icon-rotate {
      transform: rotate(180deg);
    }
  }
}
