.folding-group .folding {
  margin: 0;
  border-bottom-width: 0;
  border-radius: 0;

  &[open] .folding-title {
    border-radius: 0;
  }

  &:first-of-type {
    border-radius: $radius-size-02-top;
  }

  &:last-of-type {
    border-bottom-width: 1px;
    border-radius: $radius-size-02-bottom;
  }

  &.folding-borderless {
    margin: 0.25em 0;

    &[open] .folding-title {
      border-radius: 3px;
    }
  }
}
