.folding {
  border: 1px solid $ui-03;
  border-radius: 3px;
  margin: 2px 0;

  @include properties($body-02);

  .folding-title,
  .folding-content {
    padding: 1rem;
  }

  .folding-title {
    background: $ui-02;
    color: $text-02;
    font-weight: 600;
    display: flex;
    display: -ms-flexbox;

    &:hover {
      background: $ui-01;
    }
  }

  &[open] .folding-title {
    color: $text-01;
    border-radius: 3px 3px 0 0;

    &:hover {
      background: $ui-01;
    }
  }

  &[open] .icon.icon-rotate {
    transform: rotate(180deg);
  }
}
