.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-content {
    width: 170px;
    background: $ui-02;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    display: block;
    border: none;
    border-radius: $radius-size-01;
    list-style: none;
    position: absolute;
    left: auto;
    right: 0;
    z-index: 90;

    @include properties($large-shadow);
    @include properties($body-02);

    &.dropup-content,
    &.dropup-content-left {
      margin-bottom: 3px;
      bottom: 100%;
      top: auto;
    }

    &.dropup-content-left {
      left: 0;
      right: auto;
    }

    &.dropdown-content-left {
      left: 0;
      right: auto;
    }

    &.dropleft-content {
      @include media-breakpoint-up(md) {
        margin-right: 3px;
        margin-top: 0;
        left: auto;
        right: 100%;
        top: 0;
      }
    }

    &.dropright-content {
      @include media-breakpoint-up(md) {
        margin-left: 3px;
        margin-top: 0;
        left: 100%;
        top: 0;
      }
    }

    .dropdown-item {
      max-width: 100%;
      color: $text-02;
      padding: 0.6em 0.8em;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include properties($body-02-strong);

      &:hover,
      &:focus {
        color: $text-01;
      }
    }

    .dropdown-item-separator {
      height: 1px;
      background-color: $ui-01;
      margin: 4px 0;
    }
  }

  &[open] > summary::before {
    content: "";
    background: transparent;
    display: block;
    cursor: default;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 80;
  }
}
