.form {
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea {
    min-width: 15em;
    background-color: $ui-01;
    color: $text-02;
    margin: 0;
    padding: 0.7rem;
    border: none;
    border-radius: 3px;
    display: inline-block;
    box-sizing: inherit;
    vertical-align: middle;

    &:focus {
      background-color: $ui-01;
      color: $text-02;
      box-shadow: 0 0 0 2px $interactive-01;
      outline: 0;
    }

    &[readonly] {
      cursor: auto;

      &:focus {
        outline: 0;
        border-color: $ui-04;
      }
    }

    &[disabled]:hover {
      cursor: not-allowed;
    }
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0.35em 0 0.75em;
  }

  legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: $text-01;
    border-bottom: 1px solid $ui-03;
  }

  &:required {
    border-color: $support-01;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
