.form {
  .form-input-radio,
  .form-input-radio-inline {
    padding-left: 25px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include properties($body-02);

    .radio-control {
      height: 20px;
      width: 20px;
      border: 2px solid $ui-03;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;

      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background: $interactive-01;
        border-radius: 50%;
        display: none;
        position: absolute;
        left: 25%;
        top: 25%;
      }
    }

    input[type="radio"] {
      height: 0;
      width: 0;
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .radio-control::after {
        display: block;
      }
    }
  }

  .form-input-radio-inline {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
