.form {
  .form-input-btn {
    width: 100%;
    height: 100%;
    background-color: $ui-01;
    color: $text-02;
    padding: 0.5rem 0.7rem;
    padding-right: 45px;
    border: none;
    border-radius: $radius-size-02;
    position: absolute;
    top: 0;
    left: 0;

    input {
      padding-right: 45px;
    }
  }

  .btn-input {
    width: 45px;
    height: 100%;
    background: $ui-03;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;

    .icon {
      top: 11px;
      right: 10px;
      position: absolute;
    }
  }
}
