.form {
  .form-input-checkbox,
  .form-input-checkbox-inline {
    margin: 0.5rem 0;
    padding-left: 25px;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    @include properties($body-02);

    .checkbox-control {
      width: 20px;
      height: 20px;
      border: 2px solid #e9e9e9;
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 0;

      &::after {
        content: "";
        width: 5px;
        height: 11px;
        border: solid $interactive-01;
        border-width: 0 2px 2px 0;
        display: none;
        position: absolute;
        left: 6px;
        top: 2px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    input[type="checkbox"] {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      cursor: pointer;

      &:checked ~ .checkbox-control::after {
        display: block;
      }
    }
  }

  .form-input-checkbox-inline {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
