.form{
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea,
  select {
    background-color: transparent;
    border: 0.1rem solid lighten($primary-color, 30%);
    // #d1d1d1
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    color: #3d3d3d;
    display: inline-block;
    margin: 7px;
    min-width: 7rem;
    padding: .6rem 1.0rem;
    padding: .5rem .6rem;
    vertical-align: middle;
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: .35em 0 .75em;

  }
  legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
  }
}

.form-stacked input:not([type]),
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked input[type="file"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="text"],
.form-stacked label,
.form-stacked select,
.form-stacked textarea{
  display: block;
  margin: .25em 0;
}

.form-aligned .form-control-group {
  margin-bottom: .5em;
}

.form-aligned .form-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.form .help-inline, .form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em;
}

.form-aligned .form-controls {
  margin: 1.5em 0 0 11em;
}

.form .form-input-check{
  margin: .5em 0;
  display: block;
}

.check-container{
  background: transparent;
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  &:hover{
    background-color: #eee;
  }
  & input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark{
      background-color: $blue;
      display: block;
    }
  }
}

.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eaeaea;
  border: 1px solid #0039ff;
  border-radius: 2px;
  &:after{
    content: "";
    position: absolute;
    display: none;
  }
}
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio-container{
  background: transparent;
  display: relative;
  padding-left: 20px;
  cursor: pointer;
  &:hover{
    background-color: $light-gray;
  }
  & input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .radiomark{
      background: $red;
      display: block;
      ~ .radiomark:after{
        display: block;
      }
    }
  }
}
.radiomark{
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: $light-gray;
  border: 1px solid $blue;
  border-radius: 50%;
  &:after{
    content: "";
    position: absolute;
    display: none;
  }
}
