.form {
  input[type="file"] {
    width: 0;
    height: 0;
    position: relative;
    visibility: hidden;
  }

  .form-input-file {
    background: $ui-01;
    color: $text-02;
    padding: 0.7rem;
    border: none;
    border-radius: $radius-size-01;
    cursor: pointer;
    display: inline-block;

    @include properties($body-02);
  }
}
