.form{
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea{
    background-color: transparent;
    border: 1px solid $ui-03;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: inherit;
    color: $text-01;
    display: inline-block;
    margin: 0px;
    min-width: 15em;
    padding: 0.7rem;
    vertical-align: middle;

    &:focus{
      background-color: transparent;
      outline: 1px solid $interactive-01;
      border-color: $focus;
      color: $text-01;
    }
  }

  select{
    background-color: transparent;
    border: 1px solid $ui-03;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: inherit;
    color: $text-01;
    display: inline-block;
    margin: 7px;
    min-width: 20em;
    padding: 0.7rem;
    vertical-align: middle;

    &:focus{
      background-color: transparent;
      outline: 1px solid $interactive-01;
      color: $text-01;
    }

    option{
      color: $text-02;
      &:hover{
        background: $hover-ui;
      }
      &:focus{
        background-color: $interactive-01;
        border-color: $focus;
        color: $text-04;
      }
    }
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: .35em 0 .75em;

  }
  legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
  }

  &:required{
    border-color: $suport-01;
  }
}

.form-stacked input:not([type]),
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked input[type="file"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="text"],
.form-stacked label,
.form-stacked select,
.form-stacked textarea{
  display: block;
  margin: .25em 0;
}

.form-aligned .form-control-group {
  margin-bottom: 1rem;
}

.form-aligned .form-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0rem 0.7rem;
}

.form .help-inline, .form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em;
}

.form-aligned .form-controls {
  margin: 1.5em 0 0 11em;
}

.form .form-input-check{
  margin: .5em 0;
  display: block;
}

.check-container {
 display: block;
 position: relative;
 padding-left: 25px;
 margin-bottom: 10px;
 cursor: pointer;
 font-size: 0.85rem;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.check-container input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 15px;
 width: 15px;
 background-color: $ui-03;
 border: 1px solid $ui-04;
}

// .check-container:hover input ~ .checkmark {
//  background-color: $interactive-01;
// }

.check-container input:checked ~ .checkmark {
 background-color: $interactive-01;
 border: 1px solid $interactive-01;
}

.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

.check-container input:checked ~ .checkmark:after {
 display: block;
}

.check-container .checkmark:after {
 left: 4.3px;
 top: 0.5px;
 width: 5px;
 height: 11px;
 border: solid $link-01;
 border-width: 0 2px 2px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}


.radio-container {
 display: block;
 position: relative;
 padding-left: 25px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 0.85rem;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.radio-container input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

.radiomark {
 position: absolute;
 top: 0;
 left: 0;
 height: 15px;
 width: 15px;
 background-color: $ui-03;
 border: 1px solid $ui-04;
 border-radius: 50%;
}

.radio-container:hover input ~ .radiomark {
 background-color: $ui-03;
}

.radio-container input:checked ~ .radiomark {
 background-color: $ui-01;
 border: 2px solid $interactive-01;
}

.radiomark:after {
 content: "";
 position: absolute;
 display: none;
}

.radio-container input:checked ~ .radiomark:after {
 display: block;
}

.radio-container .radiomark:after {
 top: 2px;
 left: 2px;
 width: 7px;
 height: 7px;
 border-radius: 50%;
 background: $interactive-01;
}
