.example {
  margin: 1rem 0;
  padding: 15px;

  @media (max-width: 575px) {
    padding: 5px;
  }
}

#grid .example {
  .row > .col,
  .row > [class^="col-"] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

pre {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}
