.toc {
  margin: 0.5rem 0 0.5rem 0.3rem;

  ul {
    list-style: none;
    padding-left: 15px;

    @include properties($body-02);

    li {
      a {
        display: block;
        color: #888;
        text-decoration: none;
        padding: 4px 1px;

        &:hover {
          color: #444;
        }
      }
    }

    &:first-child {
      padding-left: 0;
    }
  }
}
