.badge {
  background: $interactive-01;
  color: #fff;
  margin: 0 6px;
  padding: 0 0.5rem;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 45px;
  font-size: 0.7rem;
  font-weight: 600;
  vertical-align: middle;

  &.badge-secondary {
    background: $ui-03;
    color: $text-01;
  }

  &.badge-outline {
    background: transparent;
    color: $interactive-01;
    border-color: $interactive-01;
  }

  &.badge-small {
    padding: 0 0.25rem;
    font-size: 0.6rem;
  }

  &.badge-big {
    padding: 0 1rem;
    font-size: 1rem;
  }
}
