pre{
  background: #f9f9f9;
  border: none;
  color: $black-three;
  page-break-inside: avoid;
  font-size: 14px;
  line-height: 1.6;
  margin: 0.5em 0;
  max-width: 100%;
  padding: 1em 1.8em;
  border-radius: 5px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}
kbd{
  padding: 1px 4px;
  background: #151718;
  color: #ddd;
  border:none;
  border-radius: 3px;
  line-height: 2;
}
