pre {
  background: $ui-01;
  color: $text-02;
  margin: 0.5em 0;
  padding: 1em 1.8em;
  border: none;
  border-radius: 5px;
  max-width: 100%;
  page-break-inside: avoid;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  overflow-x: auto;

  @include properties($body-02);
}

kbd {
  background: $ui-01;
  color: $text-01;
  padding: 1px 4px;
  border: 1px solid $ui-03;
  border-radius: 3px;

  @include properties($body-02);
}

@include media-breakpoint-down(sm) {
  pre {
    font-size: 0.85rem;
  }
}
