---
layout: compress
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  {% include head.html %}
</head>
<body class="docs">
  {% include navbar.html %}
  <div id="{{ page.title | downcase | replace: ' ', '-' }}" class="container-fluid">
    <div class="row">
      {% include sidebar.html %}
      {% if page.toc == true %}
      <div class="col-xl-2 toc">
        {% include toc.html html=content %}
      </div>
      {% endif %}
      <div class="col-12 col-md-10 {% if page.toc == true %}col-xl-8{% endif %} content">
        {{ content }}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
