.btn {
  background: $interactive-01;
  color: $text-04;
  border: none;
  border-radius: $radius-size-02;
  display: inline-block;
  margin: 0.25em 0;
  padding: 0.8rem 1.25rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  @include properties($heading-06);

  &:hover {
    background: $hover-primary;
    color: $text-04;
  }

  &:focus {
    outline: 0;
  }
}
