.btn {
  &.btn-clear {
    background: transparent;
    color: $link-01;

    &:hover {
      background: transparent;
      opacity: 0.95;
    }
  }

  &.btn-secondary {
    background: $interactive-02;
    color: $text-01;

    &:hover {
      background: $hover-secondary;
      border-color: $hover-secondary;
    }
  }
}
