.avatar-box {
  background: $ui-02;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-radius: 3px;
  display: -ms-inline-flexbox;
  display: inline-flex;

  .avatar {
    margin-right: 0.75rem;
  }

  .avatar-box-content {
    color: $text-01;
    flex: 1;

    @include properties($heading-06);

    .avatar-box-content-secondary {
      color: $text-02;
      font-weight: normal;
      font-size: 90%;
    }
  }
}
