.avatar-box {
  background: $ui-01;
  padding: 8px 12px;
  border-radius: 3px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;

  .avatar-box-content {
    color: $text-01;
    margin: 0 15px;
    font-size: 1em;

    .avatar-box-content-primary {
      font-weight: 600;
    }

    .avatar-box-content-secondary {
      color: $text-03;
    }
  }
}
