.avatar {
  width: 4rem;
  height: 4rem;
  background: $interactive-01;
  color: $text-04;
  display: inline-block;
  border-radius: $radius-size-04;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  vertical-align: bottom;

  @include properties($heading-06);

  line-height: 4rem;

  &:hover {
    color: $text-04;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: $radius-size-04;
    object-fit: cover;
  }
}
