body,html{
  height: 100%;
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
.content{
  order: 1;
}
.element-card,.element-btn{
  margin: 15px;
}
.element-card{
  width: calc(50% - 30px);
  display: inline-block;
}
.element-btn{
  width: calc(33.33% - 30px);
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
