.toc{
    height: 100vh;
    position: sticky;
    order: 2;
    top: 0;
    overflow-y: auto;
}
.section-nav{
    padding: 2vh;
    background: #f9f9f9;
    .menu-list{
        font-size: 12.5px;
        letter-spacing: 0.2px;
    }
    li a{
        display: block;
        padding: 8px 1px;
        color: #666;
        text-decoration: none;
    }
  li a:hover,
  li a.active{
      color: #222;
  }
}
