.section-nav{
  width: 180px;
  height: 100%;
  position: fixed;
  top:0;
  padding: 2vh;
  background: #f9f9f9;
  .menu-list{
      font-size: 12.5px;
      letter-spacing: 0.2px;
  }
  .menu-list li a{
      display: block;
      padding: 8px 1px;
      color: #666;
      text-decoration: none;
  }
  .menu-list li a:hover,
  .menu-list li a.active{
      color: #222;
  }
}
