.pure-menu-heading a{
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  color: #222;
}
.sidebar{
  width: 180px;
  height: 100%;
  position: fixed;
  top:0;
  padding: 2vh;
  background: #f9f9f9;
}
.sidebar .menu-list{
  font-size: 12.5px;
  letter-spacing: 0.2px;
}
.sidebar .menu-list li a{
  display: block;
  padding: 8px 1px;
  color: #666;
  text-decoration: none;
}
.sidebar .menu-list li a:hover,
.sidebar .menu-list li a.active{
  color: #222;
}
