.card {
  width: 100%;
  background: $ui-02;
  margin: 1rem 0;
  border-radius: $radius-size-02;
  position: relative;

  @include properties($light-shadow);
  @include properties($body-02);

  .card-header,
  .card-body {
    padding: 1rem 1.25rem;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    background: $ui-02;

    .card-title {
      color: $text-01;
      position: relative;

      @include properties($heading-05);
    }
  }

  .card-body {
    color: $text-02;
  }

  .card-footer {
    text-align: right;
    padding: 0.8rem 1.25rem;
  }

  > img {
    max-width: 100%;
    border-radius: $radius-size-02-top;
  }
}
