.card {
  width: 100%;
  background: $ui-02;
  margin: 10px 0;
  border: 1px solid $ui-01;
  border-radius: 6px;
  position: relative;

  .card-header,
  .card-body {
    padding: 1rem 1.25rem;
  }

  .card-header {
    display: flex;
    justify-content: space-between;

    .card-title {
      color: $text-01;
      font-size: 1rem;
      font-weight: 600;
      position: relative;

      .icon {
        color: $interactive-01;
        margin-right: 8px;
        position: relative;
        top: 5px;
      }

      .card-subtitle {
        color: $text-03;
        margin-left: 2px;
        font-size: 0.7rem;
        letter-spacing: 0.5px;
      }
    }
  }

  .card-footer {
    text-align: right;
    background: $ui-01;
    padding: 0.8rem 1.25rem;
  }

  > img {
    max-width: 100%;
    border-radius: 3px 3px 0 0;
  }
}
