.card {
  width: 100%;
  background: $ui-02;
  margin: 0.5rem 0;
  border-radius: 3px;
  position: relative;

  @include properties($body-02);

  .card-header,
  .card-body {
    padding: 1rem 1.25rem;
  }

  .card-header {
    display: flex;
    justify-content: space-between;

    .card-title {
      color: $text-01;
      position: relative;

      @include properties($heading-06);
    }
  }

  .card-footer {
    text-align: right;
    border-top: 1px solid $ui-03;
    padding: 0.8rem 1.25rem;
  }

  > img {
    max-width: 100%;
    border-radius: 3px 3px 0 0;
  }
}
